<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <div *ngIf="action != 'Eliminar'; else elseTemplate">
    <mat-form-field>
      <input placeholder="Nombre" matInput [(ngModel)]="local_data.name">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Identificador" matInput [(ngModel)]="local_data.uniqueId">
    </mat-form-field>
  </div>
  <ng-template #elseTemplate >
    Seguro de eliminar a <b>{{local_data.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions style="margin-top: 20px;">
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancelar</button>
</div>